@model ProyectoFinal.Models.Jugador

@{
    ViewData["Title"] = "Detalles";
    Equipo eq = ViewData["Equipo"] as Equipo;
}
@section estilos{

    <link href="~/css/ImagenHover.css" rel="stylesheet" />
    <style>
        .contenedorimagenes {
            align-items: center;
            position: absolute;
            left: 30%
        }

            .contenedorimagenes img {
                margin-left: 10px
            }

        .contenedor {
            background-color: lightgray;
            border: 1px solid lightgray;
            border-radius: 25px
        }
    </style>
}


<div class="contenedor">
    <h1>Detalles</h1>

    <div>
        <h4>Jugador</h4>
        <hr />
        <dl class="row">

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nick)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nick)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Funcion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Funcion)
            </dd>
            <dt class="col-sm-2">
                Equipo
            </dt>
            <dd class="col-sm-10">
                <a asp-controller="Equipo" asp-action="Detalles" asp-route-id="@eq.IdEquipo">
                    @eq.Nombre
                </a>
            </dd>

            <dd class="col-sm-10">
                <img src="https://fotosjlc.s3.amazonaws.com/@Model.Foto" style="width:300px;height:auto" />
            </dd>
        </dl>
    </div>

</div>