@model IEnumerable<ProyectoFinal.Models.Jugador>

@{
    ViewData["Title"] = "Index";
    List<Equipo> equipos = ViewData["equipos"] as List<Equipo>;
    Equipo equipo = ViewData["Equipo"] as Equipo;
    
}

<h1>Index</h1>


<form method="post">
    <label>Jugador a buscar:</label>
    <input type="text" name="nick" />
    <select class="form-control-sm" name="equipo">
        @if (equipo != null)
        {
            <option value="@equipo.IdEquipo" disabled selected>@equipo.Nombre</option>
        }
        else
        {
            <option value="" disabled selected>Todos</option>
        }
        <option value="">Todos</option>
        @foreach (Equipo eq in equipos)
        {
            <option value="@eq.IdEquipo">@eq.Nombre</option>
        }
    </select>
    <button type="submit" class="btn btn-secondary">Buscar</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nick)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    if (item.IdJugador > 0)
    {
        <tr>
            <td>
                <a asp-action="Detalles" asp-controller="Jugadores" asp-route-id="@item.IdJugador">
                    @Html.DisplayFor(modelItem => item.Nick)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funcion)
            </td>
            @if (Context.User.IsInRole("Admin"))
            {
        <td>
            <a class="btn btn-primary" asp-controller="Jugadores" asp-action="ModificarJugador" asp-route-id="@item.IdJugador"> Modificar Jugador</a>

            <a class="btn btn-warning" asp-controller="Jugadores" asp-action="EliminarJugador" asp-route-id="@item.IdJugador"> Eliminar Jugador</a>
        </td>
            }
        </tr>
    }
}
    </tbody>
</table>
@ViewData["Mensaje"]
