@model ProyectoFinal.Models.Liga

@{
    ViewData["Title"] = "Detalles";
}
@section estilos{
    <style>
        .contenedor {
            background-color: lightgray;
            border: 1px solid lightgray;
            border-radius: 25px
        }
    </style>
}

<div class="d-flex justify-content-md-center">

    <div class="col-md-4">
        

        <div class="contenedor">
            <h1>Detalles</h1>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdLiga)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdLiga)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>
            </dl>
        </div>
        
    </div>
</div>
