@model IEnumerable<ProyectoFinal.Models.Partidos>

@{
    ViewData["Title"] = "Listado";
}

<h1>Listado</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipo1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipo2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResultadoEquipo1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResultadoEquipo2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipo1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipo2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResultadoEquipo1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResultadoEquipo2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
